/* Style for the table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Style for the image */
img {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Style for the header */
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}
